<!-- <ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="menu1"></ion-menu-button>
        </ion-buttons> -->
<!-- <ion-title>
            Home
        </ion-title> -->
<!-- </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header> -->

    <!-- <div id="container">
        <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div> -->
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="sports">
                <ion-label>Sports</ion-label>
                <ion-icon name="tennisball-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="business">
                <ion-label>Business</ion-label>
                <ion-icon name="card"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="entertaintment">
                <ion-label>Enteraintment</ion-label>
                <ion-icon name="musical-notes-outline"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="technology">
                <ion-label>Technology</ion-label>
                <ion-icon name="radio-outline"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>